/*************
CSS Resets
*************/
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
	font-size: 10pt;
	line-height: 100%;
	font-family: Verdana, sans-serif;
} 

a {
	text-decoration: none;
	color: black;
}


/*************
HEADER
*************/
.header {
	background-color: #b4b4b4;
	/*border: black 2px solid;*/
}

.title {
	width: 95px;
	display: inline-block;
	/*border: red 2px solid;*/
	font-size: 12pt;
	line-height: 35px;
	padding-left: 15px;
}

.links {
	width: 225px;
	/*border: red 2px solid;*/
	display: inline-block;
	line-height: 35px;
}

.login {
	width: 200px;
	/*float: right;*/
	/*border: red 2px solid;*/
	display: inline-block;
	float: right;
	line-height: 35px;
	text-align: right;
	padding-right: 15px;
}


/*************
LAYOUT
*************/

.wrapper {
	width: 750px;
	margin: 0 auto;
	background-color: #f6f6ef;
}

/*************
POSTS#Index
*************/
ol {
	margin-left: 30px;
	margin-top: 12px;
}

ol li {
	margin-top: 10px;
	line-height: 150%;

}

.subtext {
	font-size: 7pt;
	color: rgb(130, 130, 130);
}

/*************
POSTS#Show
*************/
.post p {
	margin-top: 20px;
}

ul {
	margin-left: 30px;
	margin-top: 5px;
}

.post_comments {
	line-height: 200%;
}